{% extends "exchange/base.html" %}
{% block header %}
{% load staticfiles %}
<!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
<script src="{% static 'js/graph.js' %}"></script>
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="dashboard-top">
<h2>Price over time (August)</h2>
<div class="chart-container">
<canvas id="historical_data"></canvas>
</div>
</div>
<div class="dashboard-bottom">
    <div class="row">
        <div class="col-md-6">
            {% include "exchange/transaction_list.html" %}
        </div>
        <div class="col-md-6">
            {% include "exchange/contact_list.html" %}
        </div>
    </div>

</div>
{% endblock %}