{% extends "exchange/base.html" %}
{% block header %}
{% load staticfiles %}
<script src="{% static 'js/send.js' %}"></script>
<script src="{% static 'js/jquery.steps.min.js' %}"></script>
<script src="{% static 'js/request.js' %}"></script>
<link href="{% static 'css/steps.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<h2>Send</h2>
<div class="bloc-container">
    <div id="send-form" action="#">
        <div>
            <h3>Account</h3>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <h4>From</h4>
                        <select class="form-control" id="walletFrom">
                            <option value="{{ wallet.address}}">{{ wallet.address}} ({{ wallet.amount}} BC)</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Amount</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="number" class="form-control" id="amount" placeholder="Amount">
                            <div class="input-group-addon">BTC</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="number" class="form-control" id="amount-usd" placeholder="Amount" value="0">
                            <div class="input-group-addon">USD</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Description (optional)</h4>
                        <textarea class="form-control" rows="3" id="description" placeholder="Optional"></textarea>
                    </div>
                </div>
            </section>
            <h3>Receiver</h3>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <h4>To</h4>
                        <input type="text" class="form-control" id="walletTo" placeholder="Paste a bitcoin wallet address">
                    </div>
                </div>
                <hr>
                {% include "exchange/contact_list.html" %}
            </section>
            <h3>Add Contact</h3>
            <section>
                <h2>Add a new contact</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="contactFirst" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="contactFirst" class="form-control" placeholder="First name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contactLast" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="contactLast" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contactLast" class="col-sm-2 control-label">E-mail (optional)</label>
                        <div class="col-sm-10">
                            <input type="email" id="contactEmail" class="form-control" placeholder="Optional">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contactLast" class="col-sm-2 control-label">Wallet</label>
                        <div class="col-sm-10">
                            <input type="text" id="contactWallet" disabled class="form-control">
                        </div>
                    </div>
                </form>
            </section>
            <h3>Confirm</h3>
            <section>
                <h4>From</h4>
                <div><span id="f_walletFrom">{{ wallet.address}}</span>BC</div>
                <div class="substracting">- <span id="f_amount"></span> BTC</div>
                <div class="substracting">- <span id="f_amount_usd"></span> USD</div>
                <hr>
                <h4>To</h4>
                <div><span id="f_walletTo"></span></div>
                <div>Extra fee: <span id="fee">0</span>%</div>
                <div class="adding">+ <span id="f_amount_to"></span> BTC</div>
                <div class="adding">+ <span id="f_amount_to_usd"></span> USD</div>
                <div class="for_description"><span id="f_description"></span></div>
                <div id="acceptContainer"><input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label></div>
            </section>
        </div>
    </div>
</div>
<script src="{% static 'js/steps.js' %}"></script>
{% endblock %}1