{% extends "exchange/public.html" %}
{% block header %}
{% load staticfiles %}
<script src="https://www.mattboldt.com/demos/typed-js/js/typed.custom.js"></script>
<script src="{% static 'js/login.js' %}"></script>
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="upper-login">
    <a class="active" href="{% url 'exchange:signup' %}">Sign Up</a>
    <span> or </span>
    <a  href="{%  url 'login' %}">Sign In</a>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock %}