body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303650+0,1b1f38+100 */
background: #303650; /* Old browsers */
background: -moz-linear-gradient(top,  #303650 0%, #1b1f38 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #303650 0%,#1b1f38 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #303650 0%,#1b1f38 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303650', endColorstr='#1b1f38',GradientType=0 ); /* IE6-9 */

font-family: 'Open Sans', sans-serif;
color: #bfc2e1;
font-size: 16px;
}

/* global layout */

.sidebar {
    position: fixed;
    left: 0;
    width: 230px;
    top: 0;
    bottom: 0;
    background: #2a3350;
    color: #fff;
        border-right: 1px solid rgba(31, 37, 61, 0);
}

.main-container {
    position: relative;
    margin-left: 230px;
    padding: 30px;
    padding-top: 60px;
}


.info-bar {
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    background: #2a3350;
    z-index: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.info-bar > div > h5 
 {
    color: #bfc2e1;
}

.info-bar > div {
    display: inline-block;
    padding: 0 20px;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.07);
    font-weight: 100;
    text-align: center;
    padding-bottom: 10px;
    color: #9be99b;
}

span#rate {
    font-weight: bold;
}


/* generic */ 

.box-shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a:hover {
	text-decoration: none;
}

a:visited, a {
	color: inherit;
}

/* sidebar */

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #fff;
}

.user-avatar > img {
    width: 100%;
}

.upper-sidebar {
    text-align: center;
    background: #303751;
    padding: 40px 0;
}

.username {
    margin-top: 20px;
    color: #b2b3d4;
    font-size: 1.2em;
}

.menu {
	border-top: 1px solid rgba(255, 255, 255, 0.04);
}

.menu > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.menu > div > a {
    padding: 30px;
    display: block;
    color: #9698b9;
    transition: all 0.1s ease-in-out;
}

.menu > div > a:hover {
    padding-left: 35px;
    padding-right: 25px;
    text-decoration: none;
    color: #fff;
}

.actions {
    padding: 40px 5px;
    text-align: left;
}

.menu > div > a > span {
    padding-right: 20px;
}

.single-transaction:last-child, .single-transaction-empty:last-child {
    margin-bottom: 0;
    border: 0;
    padding: 0;
}

.single-transaction .row:first-child .col-xs-6:nth-child(2) {
    color: #9be99b;
}


/* main container */

h2 {
    color: #cfd2f1;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 40px;
    margin-top: 0;
}

.dashboard-top {
    display: initial;
    margin: 0px -30px;
}

.info-bar > div.log-out {
    float: right;
    padding: 0;
    width: auto;
}

.info-bar > div.log-out a {
	padding: 25px 35px;
	display: block;
}


.bloc-container {
    background: #252b45;
    padding: 20px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
}



.single-transaction, .single-transaction-empty {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 15px;
}

.row.small-letters {
    font-size: 0.8em;
    color: #4a516d;
}

canvas#historical_data {
    cursor: crosshair;
}
/* end main container */

div#exception_handler {
    position: absolute;
    top: 240px;
    left: 45%;
    right: 30%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
}

.bg-danger {
    background-color: #f13737;
}

.single-contact {
    width: 32%;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
}

.needs-validation {
	border: 1px solid red;
}

.substracting {
    color: #e66161;
}



.adding {
    color: #9be99b;
}

.bg-info, .bg-success {
    background-color: #673AB7;
}

.actions .disabled {
    background: #aaaaaa!important;
    cursor: no-drop;
}

.chart-container {
    position: relative;
    height: 400px;
    width: auto;
    margin: 0 -30px;
    border-bottom: 1px solid rgba(48, 55, 81, 0.34);
}

.dashboard-top {
    background: #313751;
    background: -moz-linear-gradient(top, #313751 1%, #232941 100%);
    background: -webkit-linear-gradient(top, #313751 1%,#232941 100%);
    background: linear-gradient(to bottom, #313751 1%,#232941 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313751', endColorstr='#232941',GradientType=0 );
}
.form-control, .right-login input, .account-container input {
    display: block;
    border: none;
    height: auto;
    padding: 11px 16px;
    background: #303751;
    width: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #252b45;
    box-shadow: inset 0 1px 2px rgb(30, 34, 59), 0 -1px 1px #191c28, 0 1px 0 #23283d;
    color: #cfd2f1;
}
div#send-form .row {
    margin-bottom: 20px;
}

#send-form .bloc-container.box-shadow .row {
    margin-bottom: 0;
}

.input-group-addon {
    padding: 0px 12px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    color: #eee;
    text-align: center;
    background-color: #303751;
    border: 0;
    border-radius: 4px;
}

#send-form .single-transaction {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 15px;
}

#send-form .single-transaction:hover {
    color: #54cc91;
    cursor: pointer;
}

section#steps-uid-0-p-1 h2 {
    display: none;
}

hr {
    margin-top: 30px;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #363c54;
}

div#acceptContainer {
    margin-top: 20px;
    display: inline-block;
    padding: 20px;
    float: right;
}

.for_description {
    margin-top: 20px;
}

.for_description span{
    font-style: italic;
}

.user-avatar {
    background-size: cover;
    background-position: center;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #252b45;
    opacity: 1;
    color: #fff;
}

small#request-bc-link {
    display: block;
    margin: 40px;
}

#request-form h3 {
    font-size: 3em;
    color: #9be99b;
}

#request-form h4 {
    font-size: 2em;
    margin-bottom: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #252b45;
    border-color: #fff;
    border-radius: 0;
    padding: 8px 59px;
}

.single-transaction.moneyout .row:first-child .col-xs-6:nth-child(2) {
    color: #e66161;
}

#toggle-menu {
	  display: none;
  color: #fff;
  text-align: center;
    position: absolute;
    top: 16px;
    right: 21px;
    transition: .4s;
    z-index: 10;
    font-size: 1em!important;
}

#toggle-menu:hover {
  cursor: pointer;
}

#toggle-menu:before {
  font-size: 15px;
  content: "Menu";
  text-align: center;
}

#toe-menu {
	visibility: hidden;

}

.sidebar {
	transition: all 0.2s ease-in-out;
}


/* mobile */

/*************** MEDIA QUERIES *******************/
@media only screen and (max-width: 1080px) {

.sidebar {
    position: absolute;
    top: 0;
    bottom: auto;
    width: 100%;
        transform: translateY(-100%);
    z-index: 1;
}

.info-bar {
    top: auto;
    bottom: 0;
    left: 0;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    font-size: 0.6em;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    padding: 0.5em 2em!important;
}

div#exception_handler {
    top: 0;
    left: 0;
    right: 0;
}

.main-container {
    margin: 0;
    padding: 20px;
    padding-bottom: 100px;
}

.dashboard-top {
    display: block;
    margin: 0;
    margin-top: -35px;
}

.chart-container {
    height: 200px;
}

.info-bar > div {
    font-size: 0.9em;
}

.info-bar > div:nth-child(4) {
    display: none;
}

.info-bar > div.log-out a {
    padding: 25px 35px;
    display: block;
    display: none;
}

.upper-sidebar {
    display: none;
}


#toe-menu:checked + .sidebar {
        transform: translateY(0);
  }


 #toggle-menu {
    display: block;
  }


}